<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<div class="container">

    <form name="myForm" action="/register" class="col-5" method="post" th:object="${user}">
        <div class="mb-3">
            <label class="form-label"><b>Nume</b></label>
            <input class="form-control" placeholder="Introdu numele" th:field="*{nume}" type="text">
            <p class="alert alert-danger" th:errors="*{nume}" th:if="${#fields.hasErrors('nume')}">
        </div>
        <div class="mb-3">
            <label class="form-label"><b>Prenume</b></label>
            <input class="form-control" placeholder="Introdu prenumele" th:field="*{prenume}" type="text">
            <p class="alert alert-danger" th:errors="*{prenume}" th:if="${#fields.hasErrors('prenume')}">
        </div>
        <div class="mb-3">
            <label class="form-label"><b>Email</b></label>
            <input class="form-control" placeholder="Introdu email-ul" th:field="*{email}" type="text">
            <p class="alert alert-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">
        </div>
        <div class="mb-3">
            <label class="form-label"><b>Nr telefon</b></label>
            <input class="form-control" placeholder="Introdu  numarul de telefon" th:field="*{phone}" type="text">
            <p class="alert alert-danger" th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}">
        </div>
        <div class="mb-3">
            <label class="form-label"><b>Facultate</b></label>
            <input class="form-control" placeholder="Introdu facultatea" th:field="*{facultate}" type="text">
            <p class="alert alert-danger" th:errors="*{facultate}" th:if="${#fields.hasErrors('facultate')}">
        </div>
        <div class="mb-3">
            <label class="form-label"><b>Domeniu</b> </label>
            <input class="form-control" placeholder="Introdu domeniul de studiu" th:field="*{domeniuS}" type="text">
            <p class="alert alert-danger" th:errors="*{domeniuS}" th:if="${#fields.hasErrors('domeniuS')}">
        </div>
        <div class="mb-3">
            <label class="form-label"><b>Specializare</b> </label>
            <input class="form-control" placeholder="Introdu specializarea" th:field="*{specializare}" type="text">
            <p class="alert alert-danger" th:errors="*{specializare}" th:if="${#fields.hasErrors('specializare')}">
        </div>
        <div class="mb-3">
            <label class="form-label"><b>An de studiu</b> </label>
            <input class="form-control" placeholder="Introdu anul de studiu" th:field="*{anStudiu}" type="number">
            <p class="alert alert-danger" th:errors="*{anStudiu}" th:if="${#fields.hasErrors('anStudiu')}">
        </div>

        <button class="btn btn-primary" type="submit">Salvare</button>
        <input type="reset" class="btn btn-danger" value="Sterge datele">
    </form>
</div>
</body>
</html>